body {
  font-family: "Poppins", sans-serif;
}
.mainWrapper {
  margin: auto;
  width: 1000px;
  height: 2000px;
  padding: 20px;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  border: 1px black solid;
}

.dropDownWrapper {
  margin-bottom: 40px;
}

.shotsWrapper {
  display: flex;
  justify-content: center;
}
.shot {
  margin: 8px;
}

.shooting {
  text-align: center;
  font-size: small;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
  grid-template-rows: 20px auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  margin: 30px 0px 30px 0px;
}

.canvasWrapper {
  float: unset;
  padding: 10px;
}

.datum {
  font-size: medium;
}

.schussArt {
  font-size: medium;
  font-weight: bold;
}

.result {
  text-align: center;
}

.zeitWrapper {
  font-size: x-large;
}

.trefferQuote {
  font-size: x-large;
}

.bildStehend {
  background-image: url(./Website/stehendSchießen.png);
}

.bildLiegend {
  background-image: url(./Website/liegendSchießen.jpg);
}