body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
.header {
  background-image: url("./Bilder/Vorderansicht2.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  color: black;
}
.mainBody {
  width: 1200px;
  margin: auto;
  margin-top: -20px;
}
.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.navBarWrapper {
  background-color: #6a8ec8;
}
.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 20px;
}
.linkWrapper > a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  font-weight: 800;
}
.linkWrapper > a:hover {
  color: rgb(87, 87, 87);
}
.displayWrapper {
  background-color: #dae3f1;
  padding: 20px;
}
.footerWrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34568b;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
